@value variables: "../../style/variables.module.css";
@value customBlue, bigLetterSpacing from variables;

.tabs {
    display: flex;
    position: absolute;
    bottom: 0;
}

.item {
    width: 165px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: bigLetterSpacing;
    color: rgba(0,0,0,0.54);
    border-bottom: 2px solid rgba(0,0,0,0);
    cursor: pointer;
    transition: all 0.3s;
}
        
.active {
    color: customBlue;
    border-bottom: 2px solid customBlue;
}
            
