.container {
    max-width: 85%;
    padding: 0 0 0 15%;
    height: 100%;
    position: relative;
}
.createPost {
    position: relative;
    max-height: calc(100vh - 40px);
    max-width: calc(40% + 7px);
    overflow-y: auto;
    margin-top: 24px;
}
.createPost::-webkit-scrollbar {
    width: 4px;
}
.createPost::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #BDBDBD;
}
.createPost::-webkit-scrollbar-track {
    display: none;
}
